<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/login.css"> <!-- Link to the CSS file for styling the login page -->
</head>

<body>
    <div class="login-container">
        <h1>Login</h1>
        <!-- Login form with POST method to /login endpoint -->
        <form action="/login" method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username" required><br> <!-- Username field -->

            <label for="password">Password:</label>
            <input type="password" name="password" required><br> <!-- Password field -->

            <button type="submit">Login</button> <!-- Submit button for login form -->
        </form>
        <br>
        <p>Don't have an account?</p>
        <!-- Button to navigate to registration page -->
        <button onclick="window.location.href='/register.html'">Sign Up</button>
    </div>

    <script src="/js/alerts.js"></script> <!-- Include the alerts.js script for handling URL-based messages -->
</body>

</html>
